<ng-template #loading>
  <app-progress-spinner></app-progress-spinner>
</ng-template>

<h2>{{'Ranking' | translate }}</h2>
<p>{{'AlcoholicDrinkCountInLastMonth' | translate }}</p>

<ng-container *ngIf="(ranking$ | async) as ranking; else loading">
  <div *ngFor="let r of ranking; let i=index" fxLayout fxLayoutAlign="space-between center">
    <div fxLayout fxLayoutAlign="start center">
      <p class="rank">{{i+1}}.</p>
      <app-user-info [userInfo]="r.user" showName="true"></app-user-info>
    </div>

    <span class="count">
      {{r.statistics.totalDrinksLastMonth}}
    </span>
  </div>
</ng-container>