<app-progress-spinner *ngIf="isBusy"></app-progress-spinner>


<div class="container" *ngIf="user" fxLayout="column" fxLayoutAlign="center center">
  <img [src]="user.profileImageUrl">
  <h3>{{user.name}}</h3>

  <p *ngIf="!isBusy && isYourFriend()" fxLayout>
    <img src="../../assets/img/like.png">{{'YouAreFriends' | translate}}
  </p>

  <p *ngIf="!isBusy && isYou()">
    {{'ThisIsYou' | translate}}
  </p>
</div>



<div id="actions" fxLayout fxLayoutAlign="center space-between" *ngIf="!isYou() && !isBusy">
  <button *ngIf="!isYourFriend() && !hasPendingRequest" mat-raised-button color="primary" (click)="onAddFriend()">
    <mat-icon>add</mat-icon>{{'AddFriend' | translate }}
  </button>
  <p *ngIf="hasPendingRequest" fxLayout fxLayoutAlign="center center">
    <mat-icon>sentiment_satisfied_alt</mat-icon>
    <span>{{'PendingFriendRequest' | translate }}</span>
  </p>
  <button *ngIf="isYourFriend()" mat-raised-button color="accent" (click)="onRemoveFriend()">
    <mat-icon>remove</mat-icon>{{'RemoveFriend' | translate }}
  </button>
</div>