<mat-progress-bar *ngIf="isBusy" mode="indeterminate" color="primary"></mat-progress-bar>

<h2>{{'Ranking' | transloco }}</h2>
<p>{{'RankingInfo' | transloco }}</p>



<mat-tab-group>
  <mat-tab label="{{'AlcoholicDrinkCount' | transloco }}">
    <div *ngIf="ranking">
      <div *ngFor="let r of ranking; let i=index" fxLayout fxLayoutAlign="space-between center">
        <div fxLayout fxLayoutAlign="start center">
          <p class="rank">{{i+1}}.</p>
          <app-user-info [userInfo]="r.user" showName="true"></app-user-info>
        </div>

        <span class="count">
          {{r.statistics.totalDrinksLastMonth}}
        </span>
      </div>
    </div>
  </mat-tab>


  <mat-tab label="{{'VenueRanking' | transloco }}">
    <div *ngIf="venueRanking">
      <div *ngFor="let r of venueRanking; let i=index" fxLayout fxLayoutAlign="space-between center">
        <div fxLayout fxLayoutAlign="start center">
          <p class="rank">{{i+1}}.</p>
          <span>{{r.name}}</span>
        </div>

        <span class="count">
          {{r.count}}
        </span>
      </div>
    </div>
  </mat-tab>


  <mat-tab label="{{'HardnessScore' | transloco }}">
    <div *ngIf="score">
      <div *ngFor="let r of score; let i=index" fxLayout fxLayoutAlign="space-between center">
        <div fxLayout fxLayoutAlign="start center">
          <p class="rank">{{i+1}}.</p>
          <app-user-info [userInfo]="r.user" showName="true"></app-user-info>
        </div>

        <span class="count">
          {{r.statistics.score != null ? r.statistics.score : 0}}
        </span>
      </div>
    </div>
  </mat-tab>


</mat-tab-group>