@import '../../../../styles.scss';

mat-card-title {
    mat-icon {
        // color: $application-hint;
        margin-right: 8px;
    }

    margin-bottom: 14px;
}
mat-card {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 12px;
}


button {
    text-transform: uppercase;
}
