<app-progress-spinner *ngIf="isBusy"></app-progress-spinner>
<div fxLayout="column" fxLayoutAlign="center center">
  <h1>{{'WelcomeMessage' | transloco}}</h1>
  <h3>{{'WelcomeSubTitle' | transloco }}</h3>

  <div *ngIf="invitationInfo">
    <div style="text-align: center">
      <div fxFlexLayout fxLayoutAlign="center center" class="invite-info">
        <span>{{'InvitedBy' | transloco }}</span>
        <app-user-info [userInfo]="invitationInfo.invitingUser" showName="true"></app-user-info>
        <span>!</span>
      </div>

      <img class="pulsate-transform" (click)="onLogin()" src="./../../../../assets/img/logo.png">
    </div>
  </div>

  <div id="started-text" class="pulsate">
    {{'GetStartedInvited' | transloco }}
  </div>
</div>
