<app-progress-spinner *ngIf="isBusy"></app-progress-spinner>

<h2>{{ 'Drinks' | transloco }}</h2>

<mat-card *ngFor="let d of drinks" class="drink">
  <mat-card-title>
      <app-drink-icon [drinkType]="d.drinkType"></app-drink-icon>
      <span class="drink-name">{{ d.name }}</span>
  </mat-card-title>

  <span class="drink-info">{{ d.volume }} ml, {{ d.alcPrc }} % vol.</span>
  <mat-card-actions>
    <button mat-button (click)="onDelete(d)">{{'Delete' | transloco }}</button>
    <button mat-button [routerLink]="['/drinks/edit', d.id]">{{'Edit' | transloco }}</button>
    <button mat-raised-button color="primary" (click)="onDrink(d)">{{'Drink' | transloco }}</button>
  </mat-card-actions>
</mat-card>

<button mat-fab color="primary" [routerLink]="['/drinks/add']" ><mat-icon>add</mat-icon></button>
