<h2 mat-dialog-title>
  {{'PostAMessage' | transloco}}
</h2>
<mat-dialog-content>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="message" placeholder="{{'YourMessage' | transloco }}">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>{{'Cancel' | transloco }}</button>
  <button mat-raised-button [disabled]="!message" color="primary" [mat-dialog-close]="message">{{'Send' | transloco }}</button>
</mat-dialog-actions>