<app-progress-spinner *ngIf="isBusy"></app-progress-spinner>


<div class="container" *ngIf="user" fxLayout="column" fxLayoutAlign="center center">
  <img *ngIf="!isBusyUpdatingProfilePic" [src]="getProfileImageUrl()" (click)="fileUpload.click()">
  <mat-progress-spinner *ngIf="isBusyUpdatingProfilePic" mode="indeterminate" color="primary" diameter="64"></mat-progress-spinner>
  <div fxLayout fxLayoutAlign="center center">
    <h3 *ngIf="!isEditingUserName && user">{{user.name}}</h3>
    <mat-form-field *ngIf="isEditingUserName">
      <input type="text" matInput [(ngModel)]="user.name"  [disabled]="isBusyUpdatingUserName">
    </mat-form-field>
    <button mat-icon-button *ngIf="isYou() && !isEditingUserName && !isBusyUpdatingUserName" (click)="isEditingUserName = true"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button *ngIf="isEditingUserName && !isBusyUpdatingUserName" (click)="isEditingUserName = false; user.name = originalUserName"><mat-icon>close</mat-icon></button>
    <button mat-icon-button *ngIf="isEditingUserName && !isBusyUpdatingUserName" (click)="onUpdateUserName()"><mat-icon>save</mat-icon></button>
    <mat-progress-spinner *ngIf="isBusyUpdatingUserName" mode="indeterminate" color="primary" diameter="48"></mat-progress-spinner>
  </div>
  
  <input type="file" #fileUpload id="fileUpload" ng2FileSelect style="display:none;" [uploader]="uploader" />

  <p *ngIf="!isBusy && isYourFriend()" fxLayout>
    <img src="../../assets/img/like.png">{{'YouAreFriends' | translate}}
  </p>

  <p *ngIf="!isBusy && isYou()">
    {{'ThisIsYou' | translate}}
  </p>
</div>



<div id="actions" fxLayout fxLayoutAlign="center space-between" *ngIf="!isYou() && !isBusy">
  <button *ngIf="!isYourFriend() && !hasPendingRequest" mat-raised-button color="primary" (click)="onAddFriend()">
    <mat-icon>add</mat-icon>{{'AddFriend' | translate }}
  </button>
  <p *ngIf="hasPendingRequest" fxLayout fxLayoutAlign="center center">
    <mat-icon>access_time</mat-icon>
    <span>{{'PendingFriendRequest' | translate }}</span>
  </p>
  <button *ngIf="isYourFriend()" mat-raised-button color="accent" (click)="onRemoveFriend()">
    <mat-icon>remove</mat-icon>{{'RemoveFriend' | translate }}
  </button>
</div>

<div id="friends" *ngIf="!isBusy && (isYou() || isYourFriend())">
  <h3>{{'Friends' | translate }}</h3>

  <div *ngFor="let f of user?.friends" fxLayout fxLayoutAlign="space-between center">
    <app-user-info [userInfo]="f" [showName]="true" [matTooltip]="f.userName"></app-user-info>
    <button mat-icon-button *ngIf="isYou() && !isMutedFriend(f.userId)" (click)="setFriendMuteState(f.userId, true)">
      <mat-icon>volume_up</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isYou() && isMutedFriend(f.userId)" (click)="setFriendMuteState(f.userId, false)">
      <mat-icon>volume_off</mat-icon>
    </button>
  </div>


  <div *ngIf="isYou() && (!user.friends || user.friends.length === 0)">
    <p>{{'NoFriends' | translate }}</p>
    <p>{{'FindFriendsAt' | translate }} <a [routerLink]="['/drinkers']">{{'Drinkers' | translate }}</a></p>
  </div>
</div>