<app-progress-spinner *ngIf="isBusy"></app-progress-spinner>
<div fxLayout="column" fxFlex>

  <mat-card fxFlex>
    <mat-card-title>{{'AvgAlcDrinksPerDay' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'CalculatedOverLastMonth' | translate }}</mat-card-subtitle>
    <mat-card-content>
      <span class="figure">{{avgDrinksPerDay}}</span>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex>
    <mat-card-title>{{'MonthlyDrinkStatistic' | translate}}</mat-card-title>
    <mat-card-content>
      <app-drink-chart [activities]="activities" [isLegendVisible]="isLegendVisible"></app-drink-chart>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex>
    <mat-card-title>{{'DrinkRatio' | translate}}</mat-card-title>
    <mat-card-content>
      <app-drink-ratio-chart [activities]="activities"></app-drink-ratio-chart>
    </mat-card-content>
  </mat-card>

</div>