<h2 matDialogTitle fxLayout fxLayoutAlign="start center">
  <mat-icon *ngIf="data.icon">{{data.icon}}</mat-icon>
  {{data.title | transloco}}
</h2>
<mat-dialog-content>
  <p>{{data.message | transloco}}</p>
  <p *ngIf="data.message2" >{{data.message2 | transloco}}</p>
</mat-dialog-content>

<mat-dialog-actions fxLayout fxLayoutAlign="end center">
  <button mat-button [matDialogClose]="false">{{data.cancelButtonCaption | transloco}}</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-raised-button color="primary" [matDialogClose]="true">{{data.confirmButtonCaption | transloco }}</button>
</mat-dialog-actions>