@import '../../../theme.scss';

mat-card {
    margin: 5px 5px 6px 5px;
    padding: 12px 12px 2px 12px ;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 10px;
}



.stats {
    margin-left: auto;
}

span.user-name {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}
.actions {
     margin-top: 5px;
}

mat-divider {
    margin-top: 5px;
}

mat-form-field {
    margin-top: 10px;
}

.count {
    margin-top: 3px;
}

div{
    #comm {
        position: relative;
        top: -6px;
    }
}


.comments {
    margin-top: 5px;
    mat-form-field {
        width: 100%;
    }
}

.image {
    display: block;

    img {
        position: relative;
        max-height: 400px;
        max-width: 100%;
    }
}

a {
    color: map-get($mat-bingebuddyprimary, 500)
}
mat-chip-list {
    margin-left: 5px;
}

.mat-icon-button {
    margin-right: -3px
}

#btn-comm {
    width: 24px;
    height: 24px;
}

#btn-cls {
    width: 22px;
    height: 22px;
}

.metadata {
    color: #8c8c8c;
}

.chip {
    background-color: rgba(247, 247, 247, .4)!important;
    color: #fff;
}

.mat-list-avatar {
    margin-bottom: 15px;
}


.comment-text {
    white-space: pre-wrap; 
}