mat-card {
    margin: 5px;
}

.user-profile-image {
    width: 48px;
    height: 48px;
}

.stats {
    margin-left: auto;
}

span.user-name {
    margin-left: 10px;
}

button:hover {
    transform: scale(1.1);
}
.actions {
     margin-top: 25px;
}

mat-divider {
    margin-top: 15px;
}

.count {
    margin-right: 5px;
}

.comments {
    margin-top: 25px;
    mat-form-field {
        width: 100%;
    }
}

.image {
    display: block;

    img {
        position: relative;
        max-height: 400px;
        max-width: 100%;
    }
}

mat-chip-list {
    margin-left: 5px;
}