<app-progress-spinner *ngIf="isBusy"></app-progress-spinner>
<div fxLayout="column" fxLayoutAlign="center center">
  <h1>{{'WelcomeMessage' | translate}}</h1>
  <h3>{{'WelcomeSubTitle' | translate }}</h3>

  <div *ngIf="invitationInfo">
    <div style="text-align: center">
      <div fxFlexLayout fxLayoutAlign="center center" class="invite-info">
        <span>{{'InvitedBy' | translate }}</span>
        <app-user-info [userInfo]="invitationInfo.invitingUser" showName="true"></app-user-info>
        <span>!</span>
      </div>

      <img class="pulsate-transform" (click)="onLogin()" src="../../assets/img/Logo.svg">
    </div>
  </div>





  <div id="started-text" class="pulsate">
    {{'GetStartedInvited' | translate }}
  </div>
</div>