<h3>{{'Onboarding.Heading' | transloco }}</h3>
<mat-vertical-stepper>
  <mat-step *ngFor="let s of steps" [label]="s.label | transloco">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px">
      <p>{{s.description | transloco }}</p>
      <mat-divider></mat-divider>
      <img fxFlex="50" [src]="s.image">
      <button class="right" mat-raised-button matStepperNext color="primary">
        <mat-icon>done</mat-icon>
        <span>{{'Onboarding.Next' | transloco }}</span>
      </button>
    </div>
  </mat-step>
  <mat-step [label]="'Onboarding.Label_Completed' | transloco">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="yellow">done</mat-icon>
      <p>{{'Onboarding.Done' | transloco }}</p>
      <mat-checkbox *ngIf="!isAlreadyOnboarded" color="primary" [(ngModel)]="acceptConditions">{{'Onboarding.AcceptConditions'  | transloco }}</mat-checkbox>
      <button mat-raised-button [disabled]="!acceptConditions && !isAlreadyOnboarded" (click)="onOnboardingFinished()"
        color="primary">{{'Onboarding.Done_Message' | transloco }}</button>
    </div>
  </mat-step>

  <ng-template matStepperIcon="done">
      <mat-icon>done_all</mat-icon>
    </ng-template>
</mat-vertical-stepper>
