@import '../../../../theme.scss';

mat-icon.yellow {
    color: map-get($mat-bingebuddyprimary, 500);
    font-size: x-large;
}

img {
    width: 70%;
    @media screen and (min-width: 800px ) {
      width: 20%;
    }
}

button.right {
    align-self: flex-end;
}

.margin-right {
  margin-right: 10px;
}
