<h2 mat-dialog-title>
  {{'CheckInVenue' | translate}}
</h2>
<p mat-dialog-subtitle *ngIf="args.mode === VenueDialogMode.LocationChanged">
  {{'NewVenue' | translate}}
</p>
<mat-dialog-content>
  <mat-form-field *ngIf="venues$ | async as venues; else loading">
    <mat-select matInput [(ngModel)]="selectedVenue" placeholder="{{'SelectVenue' | translate }}">
      <mat-option *ngFor="let v of venues" [value]="v">
        {{v.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-template #loading>
    <mat-progress-spinner diameter="48" mode="indeterminate" color="primary"></mat-progress-spinner>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button [mat-dialog-close]="{ action: 'cancel'}">{{'Cancel' | translate }}</button>
  <button mat-button [mat-dialog-close]="{ action: 'leave'}" *ngIf="args.mode === VenueDialogMode.LocationChanged">
    {{'Leave' | translate }}</button>
  <button mat-raised-button [disabled]="!selectedVenue" color="primary" 
    [mat-dialog-close]="{ venue: selectedVenue, action: 'change' }">
    {{'Confirm' | translate }}</button>
</mat-dialog-actions>