<h2 mat-dialog-title>
  {{'CheckInVenue' | translate}}
</h2>
<mat-dialog-content>
  <mat-form-field *ngIf="venues$ | async as venues; else loading">
    <mat-select matInput [(ngModel)]="selectedVenue" placeholder="{{'SelectVenue' | translate }}">
      <mat-option *ngFor="let v of venues" [value]="v">
        {{v.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-template #loading>
    <mat-progress-spinner diameter="48" mode="indeterminate" color="primary"></mat-progress-spinner>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>{{'Cancel' | translate }}</button>
  <button mat-raised-button [disabled]="!selectedVenue" color="primary" [mat-dialog-close]="selectedVenue">{{'Confirm' | translate }}</button>
</mat-dialog-actions>