img {
    max-height: 240px;
    max-width: 240px;
    cursor: pointer;
}

img:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
}

h1 {
    text-align: center;
}

#started-text {
    margin-top: 20px;
}

