@import '../node_modules/@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$mat-bingebuddyprimary: (
  50: #fef6e0,
  100: #fde9b3,
  200: #fcda80,
  300: #facb4d,
  400: #f9c026,
  500: #f8b500,
  600: #f7ae00,
  700: #f6a500,
  800: #f59d00,
  900: #f38d00,
  A100: #ffffff,
  A200: #fff3e6,
  A400: #ffdcb3,
  A700: #ffd09a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #ffffff,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-bingebuddyaccent: (
  50: #e6e4e8,
  100: #c2bcc6,
  200: #9990a1,
  300: #70637b,
  400: #51415e,
  500: #322042,
  600: #2d1c3c,
  700: #261833,
  800: #1f132b,
  900: #130b1d,
  A100: #9c5eff,
  A200: #7d2bff,
  A400: #5f00f7,
  A700: #5500de,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Define a theme.
$custom-app-primary: mat-palette($mat-bingebuddyprimary, 500);
$custom-app-accent: mat-palette($mat-bingebuddyaccent, 700, 800, 900);
$theme: mat-dark-theme($custom-app-primary, $custom-app-accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);
