<app-progress-spinner *ngIf="isBusy">
</app-progress-spinner>

<div id="activity-container" [@listActivities]="isInitialLoad">
  <app-activity *ngFor="let a of activitys" [activity]="a"></app-activity>
  <mat-progress-spinner [ngClass]="{noactivityspinner: activitys && activitys.length < 5, activityspinner: activitys && activitys.length >= 5}" id="loadingSpinner" 
  *ngIf="isReloadSpinnerActive && activitys && activitys.length > 0" mode="indeterminate"
    color="primary" inViewport [inViewportOptions]="{ threshold: [0] }" (inViewportAction)="onAppear($event)"></mat-progress-spinner>
  <app-no-friends *ngIf="!isBusy && activitys && activitys.length === 0"></app-no-friends>
</div>

<div class="bottom-right">
  <eco-fab-speed-dial *ngIf="!isBusyAdding && !isBusyUploading" animationMode="scale">
    <eco-fab-speed-dial-trigger [spin]="true">
      <button mat-fab color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions class="btn-act">
      <button mat-mini-fab (click)="onAddBeer()" matTooltip="{{'Beer' | translate}}">
        <img class="action-icon" src="../../assets/img/beer.png">
      </button>
      <button mat-mini-fab (click)="onAddWine()" matTooltip="{{'Wine' | translate}}">
        <img class="action-icon" src="../../assets/img/wine.png">
      </button>
      <button mat-mini-fab (click)="onAddShot()" matTooltip="{{'Shot' | translate}}">
        <img id="btn-sht" class="action-icon" src="../../assets/img/shot.png">
      </button>
      <button mat-mini-fab (click)="onAddAnti()" matTooltip="{{'Anti' | translate}}">
        <img class="action-icon" src="../../assets/img/anti.png">
      </button>
      <button mat-mini-fab (click)="onAddMessage()" matTooltip="{{'PostMessage' | translate}}">
        <mat-icon>message</mat-icon>
      </button>
      <button mat-mini-fab matTooltip="{{'PostImage' | translate}}" (click)="fileUpload.click()">
        <img id="btn-img" class="action-icon" src="../../assets/img/image.png">
      </button>


    </eco-fab-speed-dial-actions>
  </eco-fab-speed-dial>

  <input type="file" #fileUpload id="fileUpload" ng2FileSelect style="display:none;" [uploader]="uploader" />
  <mat-progress-spinner *ngIf="isBusyAdding" mode="indeterminate" diameter="48"></mat-progress-spinner>
  <mat-progress-spinner *ngIf="isBusyUploading" diameter="48" [value]="currentProgress"></mat-progress-spinner>
</div>