@import 'src/colors.scss';

mat-icon {
  color: $light-gray3;
  font-size: 64px;
  height: 64px;
  margin-top: 24px;
  width: 64px;

  @media (min-width: $mobile) {
    font-size: 128px;
    height: 128px;
    margin-top: 48px;
    width: 128px;
  }
}

p {
  margin-bottom: 0;
}
