<app-progress-spinner *ngIf="isBusy"></app-progress-spinner>

<h2>{{'Drinkers' | translate }}</h2>

<div fxLayout fxLayoutAlign="space-between center">
  <mat-form-field fxFlex="90">
    <input matInput autofocus placeholder="{{'Search' | translate }}" [(ngModel)]="filterText" (keydown)="onKeyDown($event)">
  </mat-form-field>
  <button fxFlex="10" mat-icon-button (click)="load()"><mat-icon>search</mat-icon></button>
</div>

<div>
  <app-user-info *ngFor="let u of users" [userInfo]="u" [showName]="true"></app-user-info>
</div>