@import '../../../../theme.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.right {
  margin-left: auto;
}

app-user-info {
  margin-left: 15px;
}

.content-container {
  margin: 10px;
}

mat-toolbar {
  z-index: 1;
}

img {
  margin-left: 7px;
  width: 24px;
  height: 24px;
}

.menu-item {
  margin-left: 5px;
  margin-right: 12px;
  color: map-get($mat-bingebuddyprimary, 500)
}

span {
  margin-left: 10px;
}

app-drink-event-counter {
  margin-right: 20px;
}
