
<h2>
  {{'Game.StartGame' | transloco}}
</h2>

<div>
  <mat-form-field class="full-width">
    <input matInput placeholder="{{'Game.SelectGameTitle' | transloco }}" [(ngModel)]="gameTitle">
  </mat-form-field>
</div>

<h2>
  {{'Game.SelectPlayers' | transloco}}
</h2>

<div fxLayout fxLayoutAlign="start space-between">
  <mat-selection-list color="primary" (selectionChange)="onSelectionChange($event)">
    <mat-list-option *ngFor="let f of friends" fxLayout fxLayoutAlign="space-between center" [value]="f">
      <app-user-info [userInfo]="f" [showName]="true"></app-user-info>
    </mat-list-option>
  </mat-selection-list>

  <app-no-friends *ngIf="!isBusy && friends.length === 0" [showEnterDrinkHint]="false"></app-no-friends>

  <mat-progress-spinner *ngIf="isBusy" mode="indeterminate" diameter="48"></mat-progress-spinner>

</div>

<div class="actions">
  <button mat-button [routerLink]="['/activity-feed']">{{'Cancel' | transloco }}</button>
  <button mat-raised-button color="primary" *ngIf="!isBusyStartingGame" [disabled]="selectedPlayers.length === 0 || !gameTitle" (click)="onStartGame()">{{'Game.StartGame' | transloco }}</button>
  <mat-progress-spinner *ngIf="isBusyStartingGame" color="primary" diameter="48"></mat-progress-spinner>
</div>
