.score {
    font-size: xx-large;
  }
  
  .winner {
    background-color: coral;
    animation: glowing 1000ms infinite reverse;
  }
  
  .status {
    margin-top: 10px;
  }
  
  .game-over {
    font-size: 24px;
  }
  
  @keyframes glowing {
    0% {
      background-color: #7a5e5c;
    }
    40% {
      background-color: #96625f;
    }
    60% {
      background-color: #c24e48;
    }
    100% {
      background-color: #96625f;
    }
  }
  
  .play-again {
    margin-top: 10px;
    height: 50px;
  }
  