@import '../../../../styles.scss';

.mat-dialog-title mat-icon {
    margin-right: 0.5em;
}

mat-dialog-actions button {
    text-transform: uppercase;
    & + button {
        margin-left: 1em;
    }
}
