<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar *ngIf="!(isHandset$ | async)" color="primary">Menu</mat-toolbar>
    <mat-toolbar *ngIf="isHandset$ | async" color="primary"><button mat-icon-button (click)="onNavListItemClicked()">
        <mat-icon>close</mat-icon>
      </button>Menu</mat-toolbar>
    <mat-nav-list (click)="onNavListItemClicked()">
      <a *ngIf="auth.isAuthenticated()" mat-list-item routerLink="/activity-feed"><img src="../../assets/img/ActivityFeed.png"><span>{{'Activity'
          | translate }}</span></a>
      <a *ngIf="auth.isAuthenticated()" mat-list-item routerLink="/stats"><img src="../../assets/img/statistics.png"><span>{{'Statistics'
          | translate }}</span></a>
      <a *ngIf="auth.isAuthenticated()" mat-list-item routerLink="/bingemap"><img src="../../assets/img/map.png"><span>{{'BingeMap'
          | translate }}</span></a>
      <a *ngIf="auth.isAuthenticated()" mat-list-item routerLink="/drinkers"><img src="../../assets/img/beer.png"><span>{{'Drinkers'
          | translate }}</span></a>
      <a *ngIf="auth.isAuthenticated()" mat-list-item routerLink="/friendrequests"><img src="../../assets/img/like.png"><span>{{'FriendRequests'
          | translate }}</span></a>
      <mat-divider *ngIf="auth.isAuthenticated()"></mat-divider>
      <a *ngIf="auth.isAuthenticated()" mat-list-item (click)="onLogout()"><img src="../../assets/img/logout.png"><span>{{'Logout'
          | translate }}</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Binge Buddy</span>
      <div class="right" fxLayout fxLayoutAlign="space-between center">
        <button mat-icon-button (click)="onShellIconClick(icon)" *ngFor="let icon of shellInteraction.shellIcons">
          <mat-icon [matTooltip]="icon.tooltip | translate">
            {{icon.name}}
          </mat-icon>
        </button>

        <app-me></app-me>
      </div>

    </mat-toolbar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>